@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    //ADD HERE
}

<!-- Start Contain Part
		==================================================-->
      <div class="contain_part">
        	<div class="contain_inner" id="demo_container">
            
                <div id="slidetabs" class="clean_rounded-horizontal">
                    <div class="st_tabs">
                        <div class="st_tabs_wrap">
                            <ul>
                                <li><a href="#view_1">Dashboard</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="st_views">
                        <div class="view_1 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row" style="display:none">
                                    	<p class="error_msg_bg">Error(s)</p>
                                        <p class="error_msg_sm">Error message here....</p>
                                        <p class="error_msg_sm">Another error message here....</p>
                                        <p class="error_msg_sm">Yet another error message here....</p>

                                           
                                    </div>
                              
                                </div>
                            </div>
                        </div>
                       
                    </div>
     </div>            
            </div>
        </div>
               
        <!-- End Contain Part
		==================================================-->    
