@model List<SteerRent.Model.ChargeCodeModel>



<!--- START A005 - Charge Codes -->
<div class="A005 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
                <div class="contain_row" id="CCSuccessMsg">
                    <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
                </div>
                <div class="contain_row ErrorMsgCC">
                    <p class="error_msg_bg" id="CCFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                    <p class="error_msg_sm" id="CCReqMsg">Please enter all required fields.</p>
                    <p class="error_msg_sm" id="CCExistMsg">The Charge Code entered already exists in the system.</p>
                    @*<p class="error_msg_sm" id="CCSpclChrMsg">Special characters are not allowed in Charge Code</p>*@
                    @*<p class="error_msg_sm" id="CCServiceChrgMsg">Enter appropriate value for 'Service Charges Applicable'.</p>
                    <p class="error_msg_sm" id="CCDeductibleMsg">Enter appropriate value for 'Deductible on Accident/Damage'.</p>*@
                    <p class="error_msg_sm" id="CCNetworkErrorMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
                </div>
                <div class="contain_row">
                    <!--<h5 class="contain_title">Charge Codes</h5>-->
                    <div class="contain_sub_row">
                        <p class="label_part"><b>Charge Codes</b></p>
                        <div class="label_textarea_part">
                        <div id="dvCCSearchDetails">
                            @Html.Partial("_ChargeCodeSearchResults",Model)
                        </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                        <div id="ChargeCodeAddUpdate">
                            @Html.Partial("_ChargeCodeAddUpdate", new SteerRent.Model.ChargeCodeModel())
                            </div>
        </div>
    </div>
</div>
<!-- END A005 -->
