@model List<SteerRent.Model.ChargeCodeModel>

<!--- START A005 - Charge Codes -->
                        <div class="A005 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                                            <h5 class="contain_title">Charge Codes</h5>
                                            <div class="contain_sub_row">
                                            	<p class="label_part">Existing Codes</p>
                                                <div class="label_textarea_part">
                                                    <div id="grdChargeCodes">
                                                	    @Html.Partial("_ChargeCodeSearchResults",Model)
                                                    </div>
                                                    <br />
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                           			<div class="contain_row">
                                    	<p class="error_msg_bg">&nbsp;</p>
                                        <p class="error_msg_sm">Please select/enter required field(s).</p>
                                        <p class="error_msg_exist">The Charge Code entered already exists in the system.</p>
                                        @*<p class="error_msg_sm">Enter appropriate value for 'Service Charges Applicable'.</p>
                                        <p class="error_msg_sm">Enter appropriate value for 'Deductible on Accident/Damage'.</p>*@
                                        <p class="error_msg_spclchar">Special characters are not allowed.</p>
                                        <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                    </div>

                                    <div id="ChargeCodeAddUpdate">
                                        @Html.Partial("_ChargeCodeAddUpdate",new SteerRent.Model.ChargeCodeModel())
                                        </div>
                                </div>
                            </div>    
                        </div>

<!-- END A005 -->
