@model SteerRent.Model.CompanySetup
<!--- START A003 - Company Setup -->
<div class="A003 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row">
                <p class="success_msg_bg" id="OrgSuccessMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row OrdErrorMsg">
                <p class="error_msg_bg" id="OrgFailImg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="OrgReqMsg">Please enter all required fields.</p>
                <p class="error_msg_sm" id="OrgInvalidMailMsg">Invalid E-Mail Id format.</p>
                <p class="error_msg_sm" id="OrgRequestErrorMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form name="" method="post">
                <div class="contain_row">
                    <h5 class="contain_title">Basic Information</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Company Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtCompanyName" id="txtCompanyName" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Company Logo<span></span></p>
                            <div class="label_input_part">
                                <button type="button" class="add_btn" value="add">+</button>&nbsp;<img src="~/images/comp_logo.png" width="100px" height="35px" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 1 <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtAddrLine2" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Address Line 2 <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtAddrLine2" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">City <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtCity" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Country <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlCountry">
                                    <option></option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">State/Emirate <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlStateEmirate">
                                    <option></option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Pin/Zip <span>*</span></p>
                            <div class="label_input_part">
                                <input type="text" name="txtPinZip">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="contain_row">
                    <h5 class="contain_title">Contact Person</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Full Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtContactPerson" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Designation <span></span></p>
                            <div class="label_input_part">
                                <input name="txtDesignation" type="text" placeholder="" />
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">E-Mail Id <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtEmail" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Mobile No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtMobile" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Landline No. <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtLandline" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">Fax No. <span></span></p>
                            <div class="label_input_part">
                                <input name="txtFax" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Locations</h5>
                    <div class="contain_sub_row">
                        <p class="label_part">Active Locations</p>
                        <div class="label_textarea_part">
                            --No Active Locations--</br>
                                                	1. Location Code - Location Name</br>
                                                    2. Location Code - Location Name</br>
                                                    3. Location Code - Location Name</br>
                                                    4. Location Code - Location Name</br>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Currency & Date Format</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Base Currency <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlBaseCurrency">
                                    <option></option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <h5>NOTE: Currency format cannot be changed once configured.</h5>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Date Format <span>*</span></p>
                            <div class="label_combo_part">
                                <select name="ddlDateFormat">
                                    <option></option>
                                    <option>DD/MM/YYYY</option>
                                    <option>MM/DD/YYYY</option>

                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <h5>NOTE: Date format cannot be changed once configured.</h5>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" class="submit_btn" id="btnSubmitA3" value="Submit" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- END A003 -->

<script lang="ja" type="text/javascript">

    $(function () {
        $(".numeric").attr("maxlength", 11)
        $(".alpha").attr("maxlength", 20)
        $(".email").attr("maxlength", 20)
        $(".alphaNum").attr("maxlength", 30)
    });

    if ($('#txtCompanyName').val() != '') {
        $('#btnSubmitA3').val('Update');
    }
    else
        $('#btnSubmitA3').val('Submit');

    function lengthRange(inputtxt, minlength, maxlength) {
        var userInput = inputtxt.value;
        if (userInput.length >= minlength && userInput.length <= maxlength) {
            return true;
        }
        else {
            alert("Please input between " + minlength + " and " + maxlength + " characters");
            return false;
        }
    }

    $('#ddlOrgCountry').click(function () {

        if ($('#ddlOrgCountry').val() == 0) {
            getMasterData('Country', '#ddlOrgCountry', false, 0);
        }
    });

    $('#ddlOrgStateEmirate').click(function () {
        if ($('#ddlOrgStateEmirate').val() == 0 && $('#ddlOrgCountry').text() != '') {
            getMasterData('Emirate', '#ddlOrgStateEmirate', false, $('#ddlOrgCountry').val());
        }
    });

    $('#ddlOrgBaseCurrency').click(function () {
        if ($('#ddlOrgBaseCurrency').val() == 0 && $('#ddlOrgBaseCurrency').text() != '') {
            getMasterData('Currency', '#ddlOrgBaseCurrency', true, 0);
        }
    });

    function getMasterData(str, ddlCtrl, isGlookup, gLookupId ) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getMasterData")',
            data: { str: str, isGlookup: isGlookup, gLookupId: gLookupId },
            success: function (data) {
                $(ddlCtrl).empty();
                $.each(data, function () {
                    $(ddlCtrl).append($('<option />').attr('value', this.Value).text(this.Text));
                });
            }
        });
    }

    $('#btnSubmitA3').click(function () {

        var phVal = $('#txtOrgLandline').val();
        var emailVal = $('#txtOrgEmail').val();
        var href = '@Url.Action("CompanyInsert")';
        $.ajax({
            url: href,
            data: $('#frmCompanySetup').serialize(),
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('.error_msg_bg').css("display", "none");
                $('.error_msg_sm').css("display", "none");
                $('.error_msg_exist').css("display", "none");
                $('.error_msg_spclchar').css("display", "none");
                $('.error_msg_error').css("display", "none");
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
                $('.error_msg_bg').css("display", "block");
                $('.error_msg_error').css("display", "block");
            }
        });
    });
</script>
