@model List<SteerRent.Model.EmployeeModel>


<!--- START A007 - Employee Master -->
<div class="A007 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="EmpSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsgEmp">
                <p class="error_msg_bg" id="EmpFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="EmpReqMsg">Please enter all required fields.</p>
                <p class="error_msg_sm" id="EmpDoBGreaterMsg" >Date of Birth cannot be equal to or greater than today.</p>
                <p class="error_msg_sm" id="EmpEmpIdExistMsg">The Employee Id should be unique. The Id entered is already associated with another Employee.</p>
                <p class="error_msg_sm" id="EmpDoJInvalidMsg">Date of Joining cannot be equal to or less than Date of Birth.</p>
                <p class="error_msg_sm" id="EmpDoLInvalidMsg">Date of Leaving cannot be less than Date of Joining.</p>
                @*<p class="error_msg_sm" id="EmpInvalidMailMsg">The Email-Id format is incorrect.</p>*@
                @*<p class="error_msg_sm" id="EmpExistMsg">The Email-Id is already associated with another Employee.</p>*@
                <p class="error_msg_sm" id="EmpNetworkErrMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <div id="EmployeeSearch">
                @Html.Partial("_EmployeeSearchResults", Model)
            </div>
            <div id="EmployeeAddUpdate">
                @Html.Partial("_EmployeeAddUpdate", new SteerRent.Model.EmployeeModel())
            </div>

        </div>
    </div>
</div>
<!-- END A007 -->

<script lang="ja" type="text/javascript">
    function fnEmpAddUpdate(id) {
        $.get('@Url.Action("GetEmployeeDetails", "Master")/' + id, function (data) {
            $('#EmployeeAddUpdate').replaceWith(data);
        });
    }

    
</script>