<!--- START A007 - Employee Master -->
                        <div class="A007 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row">
                                        <p class="error_msg_bg">&nbsp;</p>
                                    	<p class="error_msg_sm">Please enter all required fields.</p>
                                        <p class="error_msg_exist">Date of Birth cannot be equal to or greater than today.</p>
                                        <p class="error_msg_exist">The Employee Id must be unique.</p>
                                        <p class="error_msg_exist">Employee Id is already associated with another record.</p>
                                        <p class="error_msg_exist">Date of Joining cannot be greater than Date of Birth.</p>
                                        <p class="error_msg_exist">The Email-Id format is incorrect.</p>
                                        <p class="error_msg_exist">The Email-Id is already associated with another Employee.</p>
                                        <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>

                                       </div>
                                    <form name="frmEmployee" method="post">
                                                                         
                                        <div class="contain_row">
                                        	<h5 class="contain_title">Employee Master</h5>
                                            <div class="contain_sub_row">
                                            	<p class="label_part">List of Employees</p>
                                                <div class="label_textarea_part">
<table class="gridtable">
                                                            <tr>
                                                                <th>
                                                                    Employee Id
                                                                </th>
                                                                <th>
                                                                    Employee Name
                                                                </th>
                                                                <th>
                                                                    Designation
                                                                </th>
                                                                <th>
                                                                    DOJ
                                                                </th>
                                                                <th>
                                                                    Status
                                                                </th>
                                                            </tr>
                                                           @* <tr>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    Row 1
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                            </tr> *@                                                  
    <tr><td colspan="5"><span  class="error_msg">No record(s) found.</span></td></tr>
</table>
                                                    
                                                    </br>
<h5 style="text-align:right">xx records found. xx - Active, xx - Inactive.</h5>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="contain_row">
                                        	<h5 class="contain_title">Employee Information</h5>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">First Name <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpFirstName" id="txtEmpFirstName" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">Last Name <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpLastName" id="txtEmpLastName" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Middle Initial(s) <span></span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpMiddleInitial" id="txtEmpMiddleInitial" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part"><span></span></p>
                                                    <div class="label_input_part">
                                                        
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Gender <span>*</span></p>
                                                    <div class="label_radio_part">
                                                        <label class="label_radio"><input name="radEmpGender" type="radio" value="M" checked> Male</label>
                                                        <label class="label_radio last"><input name="radEmpGender" type="radio" value="F"> Female</label>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                <p class="label_part">Date of Birth <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpDoB"  class="datepicker popup_input date" id="txtEmpDoB" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>   
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Employee Id <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpId" id="txtEmpId" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                <p class="label_part">Designation <span>*</span></p>
                                                    <div class="label_combo_part">
                                                        <select name="ddlEmpDesignation" id="ddlEmpDesignation"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Business Unit <span>*</span></p>
                                                    <div class="label_combo_part">
                                                        <select name="ddlEmpBusinessUnit"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                <p class="label_part">Location <span>*</span></p>
                                                    <div class="label_combo_part">
                                                        <select name="ddlEmpLocation"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>  
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Date of Joining <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpDoJ"  class="datepicker popup_input date" id="txtEmpDoJ" type="text" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                <p class="label_part">Leaving Date <span></span></p>
                                                    <div class="label_input_part">
                                                        <input type="text" name="txtEmpDoL"  class="popup_input date" id="txtEmpDoL" placeholder="" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            </div>
                                            <div class="contain_row">
                                            <h5 class="contain_title">Contact Details</h5>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Address Line 1 <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpAddrLine1" type="text" placeholder="" id="txtEmpAddrLine1" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">Address Line 2 <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpAddrLine2" type="text" placeholder="" id="txtEmpAddrLine2" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div> 
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Address Line 3 <span></span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpAddrLine3" type="text" placeholder="" id="txtEmpAddrLine3" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">City <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtEmpCity" type="text" placeholder="" id="txtEmpCity" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">State/Emirate <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input type="text" name="txtEmpStateEmirate" id="txtEmpStateEmirate" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">Country <span>*</span></p>
                                                    <div class="label_combo_part">
                                                        <select name="txtEmpCountry" id="txtEmpCountry"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>      
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Emergency Contact <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input type="text" name="txtEmpEmergencyContact" id="txtEmpEmergencyContact" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	<p class="label_part">Emergency Phone <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input type="text" name="txtEmpEmergencyPhone" id="txtEmpEmergencyPhone" />
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>           
                                        </div>                                                                          
                                                     <div class="contain_row">
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part"> <span></span></p>
                                                    <div class="label_radio_part">
                                                        <label class="label_radio"><input name="radActivation" type="radio" value="A" checked> Active</label>
                                                        <label class="label_radio last"><input name="radActivation" type="radio" value="I"> Inactive</label>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                    @*<h5>If set as Inactive the employee record will be inactivated and access to the system will be Blocked. However, if the employee record is currently inactive and is being set to Active state the user credentials that were blocked previously must be reactivated manually.
</h5>*@
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>           
                                        </div>
                                        <div class="submit_part">
                                            <div class="contain_submit_row">
                                            	<button type="button" class="submit_btn" id="btnSubmit_A007" value="Submit">Submit</button>
                                                <button type="button" class="addnew_btn" onclick="fnCCAddUpdate(0)" value="Add New">Add New</button>
                                            </div>
                                        </div>
                                        	
                                    </form>
                                </div>
                            </div>    
                        </div>
<!-- END A007 -->
<script type="text/javascript" src="~/Scripts/script.js"></script>

<script>
    // bind slider
    var slidetabs = $('#slidetabs').slidetabs({
        orientation: 'horizontal',
        autoHeight: true,
        touchSupport: true
    });

    $('#btnSubmit_A007').click(function () {
        EmpValidate();
        slidetabs.setContentHeight();
    });

function EmpValidate()
    {
    if ($('#txtEmpFirstName').val() != '' && $('#txtEmpLastName').val() != '' && $('#txtEmpDoB').val() != '' && $('#ddlEmpDesignation').val() != '' )
        {
            return true;} else {
            $('.error_msg_bg').css("display", "block");
            $('.error_msg_sm').css("display", "block");
            return false;
        }
        
    }
</script>