@model SteerRent.Model.EmployeeModel

<!--- START A007 - Employee Master -->
                        <div class="A007 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row">
                                        <p class="error_msg_bg">&nbsp;</p>
                                    	<p class="error_msg_sm">Please enter all required fields.</p>
                                        <p class="error_msg_exist">Date of Birth cannot be equal to or greater than today.</p>
                                        <p class="error_msg_exist">The Employee Id must be unique.</p>
                                        <p class="error_msg_exist">Employee Id is already associated with another record.</p>
                                        <p class="error_msg_exist">Date of Joining cannot be greater than Date of Birth.</p>
                                        <p class="error_msg_exist">The Email-Id format is incorrect.</p>
                                        <p class="error_msg_exist">The Email-Id is already associated with another Employee.</p>
                                        <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                       </div>
                                 <div id="EmployeeSearch">
                                     @Html.Partial("_EmployeeSearchResults",Model)
                                 </div>
                                    <div id="locAddUpdate">
                                        @Html.Partial("_EmployeeAddUpdate",new SteerRent.Model.EmployeeModel())
                                    </div>
                                </div>
                            </div>    
                        </div>
<!-- END A007 -->
