@model SteerRent.Model.LookupCategoryModel

@{
    var cat = Model.LookupCategoryList.Where(m => m.IsGLookup == true).ToList();
    ViewBag.Title = "GeneralLookups_A001";
    Layout = null;// "~/Views/Shared/_EmptyLayout.cshtml";
}
<script src="~/Scripts/steerrent.js" lang="ja" type="text/javascript"></script>
@ViewData["IsGlookExist"]
<!--- A001 - General Lookups -->
<div class="A001 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="GLookupSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsg">
                <p class="error_msg_bg" id="GLookupFailImg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="GLookupReq">Please enter all required fields.</p>
                <p class="error_msg_sm" id="GLookupExist">The chosen value already exists in the system.</p>
                @*<p class="error_msg_sm" id="GLookupSpcChr">Special characters are not allowed.</p>*@
                <p class="error_msg_sm" id="GLookupErrorMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form name="" method="post">
                <div class="contain_row">
                    <h5 class="contain_title">General Lookups</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Category<span></span></p>
                            <div class="label_combo_part">
                                @Html.DropDownListFor(model => model.LookupCategoryID, new SelectList(cat, "LookupCategoryID", "LookupCategoryCode"), "", new { @id = "ddlCategory" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <p class="label_part">List of Values</p>
                        <div class="label_textarea_part">
                            <span id="GlookupGrdList">
                            @Html.Partial("_SearchResults", Model)
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Add Lookup Data for "<span id="spnGLookupSelValue">Category</span>"</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Enter New Value <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtGLookupValue" id="txtGLookupValue" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" id="btnSubmitA1" class="submit_btn" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A001 -->

<script>
    // bind slider
    var slidetabs = $('#slidetabs').slidetabs({
        orientation: 'horizontal',
        autoHeight: true,
        touchSupport: true
    });

    function RefreshGrid(status) {
        var href = '@Url.Action("GeneralLookupSubmit")';
        $.ajax({
            url: href,
            data: { id: $('#ddlCategory').val(), value: $('#txtGLookupValue').val(), status: status },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#GlookupGrdList').replaceWith(data);
                $('#txtGLookupValue').val('');
                if (status == 'Insert') {
                    $('#GLookupSuccessMsg').attr("style", "display:block");
                    $('.ErrorMsg').attr("style", "display:none");
                }
                slidetabs.setContentHeight();
                //var items = [];
                //items.push("<option>--Select Sub-Category--</option>");
                //alert(data);
                //$.each(data, function () {
                //    items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                //});
                //$("#ddlSubCategory").html(items.join(' '));
                //alert('Glookup');
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#GLookupFailImg').attr("style", "display:block");
                $('#GLookupErrorMsg').attr("style", "display:block");
                slidetabs.setContentHeight();
            }
        });
    }

</script>