@model SteerRent.Model.LookupCategoryModel
@{
    var objCategories = Model.LookupCategoryList.Where(m => m.IsGLookup == false).ToList();
    ViewBag.Title = "HierarchicalLookups_A001";
}

<script src="~/Scripts/steerrent.js" lang="ja" type="text/javascript"></script>

<!--- START A002 - Hierarchical Lookups -->
<div class="A002 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="HLookupSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsgHLook">
                <p class="error_msg_bg" id="HLookupFailImg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="HLookupReq">Please enter all required fields.</p>
                <p class="error_msg_sm" id="HLookupExist">The chosen value already exists in the system.</p>
                @*<p class="error_msg_sm" id="HLookupSpcChr">Special characters are not allowed.</p>*@
                <p class="error_msg_sm" id="HLookupErrorMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form name="" method="post">
                <div class="contain_row">
                    <h5 class="contain_title">Hierarchical Lookups</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Category & Sub- Category <span>*</span></p>
                            <div class="label_combo_part">
                               @Html.DropDownListFor(model => model.LookupCategoryID, new SelectList(objCategories, "LookupCategoryID", "LookupCategoryCode"), "", new { @id = "ddlHCategory" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">

                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row">
                        <p class="label_part">List of Values</p>
                        <div id="HLookupGrdList">
                            @Html.Partial("_HLookupSearchResults", Model)
                            </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Add Lookup Data for "<span id="spnHLookupSelValue">Category & Sub-Category</span>"</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Existing Category <span>**</span></p>

                            <div class="label_combo_part dvHExistCategory">
                                <select name="ddlHExistCategory" id="ddlHExistCategory" tabindex="1">
                                    
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part">New Sub-Category <span>*</span></p>
                            <div class="label_input_part">
                                <input tabindex="2" name="txtHLookupSubCat" id="txtHLookupSubCat" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>OR</div>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">New Category <span>**</span></p>
                            <div class="label_input_part">
                                <input name="txtHLookupCat" tabindex="1" id="txtHLookupCat" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part"><span></span></p>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" tabindex="3" id="btnSubmitA2" class="submit_btn" value="Submit" />
                    </div>
                </div>

            </form>
        </div>
    </div>

<!-- END A002 -->

<script lang="ja" type="text/javascript">
    // bind slider
    var slidetabs = $('#slidetabs').slidetabs({
        orientation: 'horizontal',
        autoHeight: true,
        touchSupport: true
    });

    //Clears New category value while selecting from existing category
    $('#ddlHExistCategory').change(function () {
        $('#txtHLookupCat').val('');
    });

    //Clears Existing category value while entering in new category textbox
    $('#txtHLookupCat').keypress(function () {
        if ($('#ddlHExistCategory').val() > 0) {
            $("div.dvHExistCategory select").val("");
        }
    });

    $('#ddlHCategory').change(function () {
        $.ErrorHideHLookup();
        $('#txtHLookupCat').val('');
        $('#txtHLookupSubCat').val('')
        var ddlVal = $('#ddlHCategory').val();
        if (ddlVal > 0) {
            RefreshHLookupGrid(ddlVal, '', 'Select');
            $('#spnHLookupSelValue').text($("#ddlHCategory option:selected").text());
            
            BindHLookupExistingCategory($('#ddlHCategory').val());
            slidetabs.setContentHeight();
        }
        else { RefreshHLookupGrid(0, '', 'Empty'); $('#spnHLookupSelValue').text("Category & Sub-Category");}
    });

    function BindHLookupExistingCategory(catId)
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("getHLookupExistCategory")',
            data: { id: catId },
                success: function (data) {
                    $("#ddlHExistCategory").empty();
                    $("#ddlHExistCategory").append($('<option />'));
                    $.each(data, function () {
                        $("#ddlHExistCategory").append($('<option />').attr('value', this.Value).text(this.Text));
                    });
                }
    })
        }

    $('#btnSubmitA2').click(function () {
        $.ErrorHideHLookup();
        var txtCategoryVal = $.trim($('#txtHLookupCat').val());
        var txtSubCategoryVal = $.trim($('#txtHLookupSubCat').val());
        if ($('#ddlHCategory').val() > 0 && txtSubCategoryVal != '' && ( txtCategoryVal != '' || $('#ddlHExistCategory').val() > 0)) {
            RefreshHLookupGrid($('#ddlHCategory').val(), txtCategoryVal, 'Insert');
            $('#txtHLookupCat').val('');
            $('#txtHLookupSubCat').val('')
            BindHLookupExistingCategory($('#ddlHCategory').val());
            slidetabs.setContentHeight();
        }
        else {
            $('.ErrorMsgHLook').attr("style", "display:block");
            $('#HLookupFailImg').attr("style", "display:block");
            $('#HLookupReq').attr("style", "display:block");
            slidetabs.setContentHeight();
        }
    });

    function RefreshHLookupGrid(catid,catvalue, status) {
        if (status == 'Insert') {
            if (catvalue == '' && catid == '') {
                $('.error_msg_sm').css("display", "block"); $('.error_msg_bg').css("display", "block");
                return false;
            }
        }
        var href = '@Url.Action("HierarchicalLookupSubmit")';
        $.ajax({
            url: href,
            data: { id: catid, catValue: catvalue, catId: $('#ddlHExistCategory').val(), subCatValue: $('#txtHLookupSubCat').val(), status: status },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                if (status == 'Insert') {
                    $('.ErrorMsgHLook').attr("style", "display:block");
                    if (data.length) {
                        
                        $('#HLookupGrdList').replaceWith(data);
                        $('#HLookupSuccessMsg').attr("style", "display:block");
                    }
                    else {
                        $('#HLookupFailImg').attr("style", "display:block");
                        $('#HLookupExist').attr("style", "display:block");
                    }
                } else { $('#HLookupGrdList').replaceWith(data); $('#ddlHExistCategory').empty(); }
                slidetabs.setContentHeight();
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#HLookupFailImg').attr("style", "display:block");
                $('#HLookupErrorMsg').attr("style", "display:block"); //("Error:Action is aborted.Please try again later.");
                slidetabs.setContentHeight();
            }
        });
    }
</script>