@model SteerRent.Model.LocationModel


<!--- START A004 - Locations -->
<div class="A004 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <form name="frmLocation" id="frmLocation" method="get">
                <div class="contain_row" id="LocSuccessMsg">
                    <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
                </div>
                <div class="contain_row ErrorMsgLoc">
                    <p class="error_msg_bg" id="LocFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                    <p class="error_msg_sm" id="LocReqMsg">Please enter all required fields.</p>
                    <p class="error_msg_sm" id="LocExistMsg">The Location Name/Location Code already exists in the system.</p>
                    @*<p class="error_msg_sm" id="LocSpecialChrMsg">Special characters are not allowed.</p>*@
                    <p class="error_msg_sm" id="LocInvalidMailMsg">Invalid E-Mail Id format.</p>
                    @*<p class="error_msg_sm" id="LocNonNumMsg">Non Numeric values are not allowed in the Receipt No. / Rental Agmt No. / Lease Agmt No. fields.</p>*@
                    <p class="error_msg_sm" id="LocNetworkErrMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
                </div>
                <div>
                    <div id="srchLocList">
                    @Html.Partial("_LocationSearchResults", Model)
                        </div>
                </div>
                <div id="locAddUpdate">
                    @Html.Partial("_LocationAddUpdate", new SteerRent.Model.LocationModel())
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A004 -->
    
     <script lang="ja" type="text/javascript">

         $(document).ready(function () {
         $('#LocationName').focus(function () { $('#errImg').hide(); $('#valMsg').hide(); $('#errMsg').hide(); });
         @*$('#btnSubmitA4').click(function () {
             if ($('#txtLocationName').val() == '' || $('#txtLocationName').val() == '') {
                 $('#errImg').show(); $('#valMsg').show();
                 return false;
             }
             else {
                 RefreshGrid();
             }
         });

         function RefreshGrid() {
             var href = '@Url.Action("LocationInsert")';
                $.ajax({
                    url: href,
                    data:  { LocName: $('#LocationName').val(), LocCode: $('#LocationCode').val() },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#srchLocList').html(data);
                        $('#spnResultsMsg').html('Successfully inserted.');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('#errMsg').show();
                        //alert("Error:Action is aborted.Please try again later.");
                    }
                });
            }*@
        });
    </script>
