@model SteerRent.Model.LocationModel

    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/ui-1.10.0/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="~/Content/timer/jquery.ui.timepicker.js?v=0.3.3"></script>
    <link rel="stylesheet" href="~/Content/timer/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/timer/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />
    <script src="~/Scripts/steerrent.js"></script>

<!--- START A004 - Locations -->
<div class="A004 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <form name="frmLocation" method="post">
                <div class="contain_row" id="LocSuccessMsg">
                    <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
                </div>
                <div class="contain_row ErrorMsgLoc">
                    <p class="error_msg_bg" id="LocFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                    <p class="error_msg_sm" id="LocReqMsg">Please enter all required fields.</p>
                    <p class="error_msg_sm" id="LocExistMsg">The Location Name/Location Code already exists in the system.</p>
                    @*<p class="error_msg_sm" id="LocSpecialChrMsg">Special characters are not allowed.</p>*@
                    <p class="error_msg_sm" id="LocInvalidMailMsg">Invalid E-Mail Id format.</p>
                    @*<p class="error_msg_sm" id="LocNonNumMsg">Non Numeric values are not allowed in the Receipt No. / Rental Agmt No. / Lease Agmt No. fields.</p>*@
                    <p class="error_msg_sm" id="LocNetworkErrMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
                </div>
                <div>
                    @Html.Partial("_LocationSearchResults", Model)
                </div>
                <div id="locAddUpdate">
                    @Html.Partial("_LocationAddUpdate", Model)
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A004 -->
    
     <script lang="ja" type="text/javascript">

         $(document).ready(function () {
             $('#txtWorkingTimeFrom').timepicker({
                 showPeriod: true,
                 showLeadingZero: true
             });

             $('#txtWorkingTimeTo').timepicker({
                 showPeriod: true,
                 showLeadingZero: true
             });

         $('#LocationName').focus(function () { $('#errImg').hide(); $('#valMsg').hide(); $('#errMsg').hide(); });
         $('#btnSubmitA4').click(function () {

             if ($('#txtLocationName').val() == '' || $('#txtLocationName').val() == '') {
                 $('#errImg').show(); $('#valMsg').show();
                 return false;
             }
             else {
                 RefreshGrid();
             }
         });

         function RefreshGrid() {
             var href = '@Url.Action("LocationInsert")';
                $.ajax({
                    url: href,
                    data:  { LocName: $('#LocationName').val(), LocCode: $('#LocationCode').val() },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#srchList').html(data);
                        $('#spnResultsMsg').html('Successfully inserted.');
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('#errMsg').show();
                        //alert("Error:Action is aborted.Please try again later.");
                    }
                });
            }
        });
    </script>
