@model  SteerRent.Model.PrivilegeModel
@{

    }
<script src="~/Scripts/steerrent.js"></script>
<!--- START A009 - Privileges-->
<div class="A009 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="PrivSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsgPriv">
                <p class="error_msg_bg" id="PrivFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="PrivNetworkErrMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form name="frmPrivilege" method="post">
                <div class="contain_row">
                    <!--<h5 class="contain_title">Privileges</h5>-->
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Choose Role <span>*</span></p>
                            <div class="label_combo_part">
                                @Html.DropDownList("Roles", new SelectList(Model.roleList, "RoleId", "RoleName"), "", new { @id = "ddlPrivileges", onchange = "LoadPrivileges()" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <p class="label_part"><span></span></p>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="contain_sub_row" id="dvPrivileges" style="display:none" >
                        @*<p class="label_part">Assign Privileges</p>
                        <div class="label_textarea_part">
                            <table class="gridtable">
                                <tr>
                                    <th width="75%">Features
                                    </th>
                                    <th width="25%">Assignment
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Funct Module 1</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><i>Sub Module</i></b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Page 1
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>Page 2
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>Page 3
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Administration</b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <b><i>Sub Module</i></b>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Page 1
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Page 2
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />

                                    </td>

                                </tr>
                                <tr>
                                    <td>Page 3
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div class="clear"></div>*@
                    </div>
                </div>
                <div class="submit_part" id="btnPriv" style="display:none">
                    <div class="contain_submit_row">
                        <button type="button" class="submit_btn" id="btnSubmitA009" value="Submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A009 -->

<script type="text/javascript" src="~/Scripts/jquery.slidetabs.js"></script>
<script lang="ja" type="text/javascript">
        // bind slider
        var slidetabs = $('#slidetabs').slidetabs({
            orientation: 'horizontal',
            autoHeight: true,
            touchSupport: true
        });

        $('#btnSubmitA009').click(function () {
            var tempData;
            var frmPrevilege;
            $('input[name="chkRoleActivateFleet"]').each(function () {
                    tempData = tempData + "|" + this.id+"-"+this.checked;
            });
            frmPrevilege = tempData.replace('undefined|', '');
            if (frmPrevilege != null) {
                var href = '@Url.Action("PrivilegesInsertUpdate")';
                $.ajax({
                    url: href,
                    data: { formCollection: frmPrevilege, RoleId: $('#ddlPrivileges').val() },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $('#PrivSuccessMsg').css("display", "block");
                        $('.ErrorMsgPriv').css("display", "none");
                        $('#PrivFailMsg').css("display", "none");
                        $('#PrivNetworkErrMsg').css("display", "none");
                        slidetabs.setContentHeight();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('#PrivSuccessMsg').css("display", "none");
                        $('.ErrorMsgPriv').css("display", "block");
                        $('#PrivFailMsg').css("display", "block");
                        $('#PrivNetworkErrMsg').css("display", "block");
                        slidetabs.setContentHeight();
                    }
                });
            }

        });

    function LoadPrivileges() {
        if ($("#ddlPrivileges option:selected").text() == '') {
            $('#dvPrivileges').hide(); $('#btnPriv').hide();
            slidetabs.setContentHeight();
            return;
        }
        $('#dvPrivileges').show();
        $('#btnPriv').show();
            var href = '@Url.Action("GetPrivileges")';
            $.ajax({
                url: href,
                data: { RoleId: $('#ddlPrivileges').val() },
                type: "POST",
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $('#dvPrivileges').replaceWith(data);
                    $('#PrivSuccessMsg').css("display", "none");
                    $('.ErrorMsgPriv').css("display", "none");
                    $('#PrivFailMsg').css("display", "none");
                    $('#PrivNetworkErrMsg').css("display", "none");
                    slidetabs.setContentHeight();
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $('#errMsg').show();
                    //alert("Error:Action is aborted.Please try again later.");
                }
            });
        }
</script>