<!--- START A009 - Privileges-->
                        <div class="A009 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row">
                                        <p class="error_msg_bg">&nbsp;</p>
                                    	<p class="error_msg_sm">Cannot assign full privileges to Custom Roles.</p>
                                        <p class="error_msg_sm">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                    </div>
                                    <form name="" method="post">
                                                                         
                                        <div class="contain_row">
                                        	<h5 class="contain_title">Privileges</h5>
                                            <div class="contain_sub_row">
                                            	<p class="label_part">Roles & Privileges Matrix</p>
                                                <div class="label_textarea_part">
                                                <table class="gridtable">
                                                            <tr>
                                                                <th>
                                                                    Privilege
                                                                </th>
                                                                <th>
                                                                    Branch Manager
                                                                </th>
                                                                <th>
                                                                    Counter Supervisor
                                                                </th>
                                                                <th>
                                                                    Accountant
                                                                </th>
                                                                <th>
                                                                    Application Admin
                                                                </th>
                                                                <th>
                                                                    Custom Role 1
                                                                </th>
                                                                <th>
                                                                    Custom Role 2
                                                                </th>
                                                            </tr>
                                                           @* <tr>
                                                                <td>
                                                                    Feature 1
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Feature 2
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Feature 3
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Feature 4
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>
                                                                <td>
                                                                    <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                                                </td>

                                                            </tr>*@
                                                    <tr><td colspan="7"><span  class="error_msg">No record(s) found.</span></td></tr>
                                                    </table>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>   
                                        <div class="submit_part">
                                            <div class="contain_submit_row">
                                            	<button type="submit" class="submit_btn" value="Submit">Submit</button>
                                            </div>
                                        </div>                                  	
                                    </form>
                                </div>
                            </div>    
                        </div>
<!-- END A009 -->