@model  SteerRent.Model.PrivilegeModel
@{

    }
<!--- START A009 - Privileges-->
    <div class="A009 st_view">
        <div class="st_view_inner">
            <div class="tab_contant_inner">
                <div class="contain_row">
                    @*<p class="error_msg_bg">&nbsp;</p>
                    <p class="error_msg_sm">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>*@
                </div>
                <form name="frmPrivileges" method="get">
                    <div class="contain_row">
                        <h5 class="contain_title">Privileges</h5>
                        <div class="contain_sub_row">
                            <div class="contain_left_part">
                                <p class="label_part">Select a Role <span>*</span></p>
                                <div class="label_combo_part">
                                    @Html.DropDownList("Roles", new SelectList(Model.roleList, "RoleId", "RoleName"), "", new { @id = "ddlPrivileges", onchange = "LoadPrivileges()" })
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="contain_left_part">
                                <p class="label_part"><span></span></p>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>&nbsp;</div>
                        <div id="dvPrivileges" class="contain_sub_row">@Html.Partial("_PrivilegesSearchResults", Model)
                            </div>
                    </div>
                    <div class="submit_part">
                        <div class="contain_submit_row">
                            <button type="button" id="btnSubmitA009" class="submit_btn" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- END A009 -->

<script type="text/javascript" src="~/Scripts/jquery.slidetabs.js"></script>
<script lang="ja" type="text/javascript">
        // bind slider
        var slidetabs = $('#slidetabs').slidetabs({
            orientation: 'horizontal',
            autoHeight: true,
            touchSupport: true
        });

        $('#btnSubmitA009').click(function () {
            var tempData;
            var frmPrevilege;
            $('input[name="chkRoleActivateFleet"]').each(function () {
                if (this.checked) {
                    tempData = tempData + "|" + this.id;
                }
            });
            
            frmPrevilege = tempData.replace('undefined|', '');
            if (frmPrevilege != null) {
                var href = '@Url.Action("PrivilegesInsertUpdate")';

                $.ajax({
                    url: href,
                    data: { formCollection: frmPrevilege, RoleId: $('#ddlPrivileges').val() },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                    }
                });
            }

        });

    function LoadPrivileges() {
        $('#dvPrivileges').show();

        var href = '@Url.Action("GetPrivileges")';
        $.ajax({
            url: href,
            data: { RoleId: $('#ddlPrivileges').val() },
            type: "POST",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#dvPrivileges').replaceWith(data);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                $('#errMsg').show();
                //alert("Error:Action is aborted.Please try again later.");
            }
        });

        if ($("#ddlPrivileges option:selected").text() == 'Admin') {
            $('#trAdminSection').show();
            $('input[name="chkRoleActivate"]').each(function () {
                this.checked = true;
                this.disabled = true;
            });

            //$('input[name="chkRoleActivateFleet"]').each(function () {
            //    this.checked = true;
            //    this.disabled = true;
            //});
        }
        else {
            $('#trAdminSection').hide();
            $('input[name="chkRoleActivateFleet"]').each(function () {
                this.checked = false;
                this.disabled = false;
            });
            //$('#btnSubmitA010').disabled = false;
        }
        slidetabs.setContentHeight();
    }
</script>