@model List<SteerRent.Model.RoleModel>
<script src="~/Scripts/steerrent.js"></script>
<!--- START A008 - Roles -->
<div class="A008 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="RoleSuccessMsg">
                    <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
                </div>
                <div class="contain_row  ErrorMsgRole">
                    <p class="error_msg_bg" id="RoleFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                    <p class="error_msg_sm" id="RoleReqMsg">Please enter the required field.</p>
                    <p class="error_msg_sm" id="RoleIdExistMsg">The Role Name already exists. Please try a different value.</p>
                    @*<p class="error_msg_sm">Numbers/Special characters are not allowed in Role Name.</p>*@
                    <p class="error_msg_sm" id="RoleNetworkErrMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
                </div>
            <form name="frmRoles" id="frmRoles" method="post">
                <div class="contain_row">
                    <!--<h5 class="contain_title">User Roles</h5>-->
                    <div class="contain_sub_row">
                        <p class="label_part"><b>User Roles</b></p>
                        <div class="label_textarea_part">
                        <div id="dvRoleSearch">@Html.Partial("_RoleSearchResults",Model)</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Add New Role</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Role Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtRoleName" class="alphaNum49" id="txtRoleName" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">
                            <div class="label_input_part">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <button type="button" class="submit_btn" id="btnSubmitA8" value="Submit">Submit</button>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</div>
<!-- END A008 -->

    <script lang="ja" type="text/javascript">

        // bind slider
        var slidetabs = $('#slidetabs').slidetabs({
            orientation: 'horizontal',
            autoHeight: true,
            touchSupport: true
        });

            $('#btnSubmitA8').click(function () {
                if ($('#txtRoleName').val().toUpperCase() == 'ADMIN' || $('#txtRoleName').val().toUpperCase() == 'ACCOUNTANT'
                    || $('#txtRoleName').val().toUpperCase() == 'COUNTER SUPERVISOR'
                    || $('#txtRoleName').val().toUpperCase() == 'BRANCH MANAGER') {
                    $('#RoleIdExistMsg').css("display", "block");
                    $('#RoleFailMsg').css("display", "block");
                    $('.ErrorMsgRole').css("display", "block");
                    $('#RoleReqMsg').css("display", "none");
                    $('#RoleNetworkErrMsg').css("display", "none");
                    slidetabs.setContentHeight();
                    return false;
                }
                if ($('#txtRoleName').val() != '') {
                    RefreshGrid($('#txtRoleName').val(), '0', 'Insert', true, false);
                }
                else {
                    $('.ErrorMsgRole').css("display", "block");
                    $('#RoleFailMsg').css("display", "block");
                    $('#RoleReqMsg').css("display", "block");
                    $('#RoleSuccessMsg').css("display", "none");
                    $('#RoleIdExistMsg').css("display", "none");
                    $('#RoleNetworkErrMsg').css("display", "none");
                }
                slidetabs.setContentHeight();
            });

            function RefreshGrid(name, id, status, state, isActivated)
            {
                var href = '@Url.Action("RolesInsertUpdate")';
                $.ajax({
                    url: href,
                    data: { role: name, id:id, action: status,isActive:state,isDelete:isActivated },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        if (data == 1)
                        {
                            $('#RoleIdExistMsg').css("display", "block");
                            $('#RoleFailMsg').css("display", "block");
                            $('.ErrorMsgRole').css("display", "block");
                            $('#RoleReqMsg').css("display", "none");
                            $('#RoleNetworkErrMsg').css("display", "none");
                        }
                        else {
                            $('#dvRoleSearch').replaceWith(data);
                            $('#txtRoleName').val('');
                            $('.ErrorMsgRole').css("display", "none");
                            $('#RoleSuccessMsg').css("display", "block");
                        }
                        if (isActivated == true) {
                            $('#dvRoleDelete-' + id).text('').removeClass("del_btn");
                        }
                        else {
                            $('#dvRoleDelete-' + id).text('X').addClass("del_btn");
                        }
                        $('#dvRoleDelete-' + id).attr('id', 'dvRoleDelete-' + id);
                        slidetabs.setContentHeight();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('#RoleSuccessMsg').css("display", "none");
                        $('.ErrorMsgRole').css("display", "block");
                        $('#RoleNetworkErrMsg').css("display", "block");
                        $('#RoleFailMsg').css("display", "block");
                        slidetabs.setContentHeight();
                    }
                });
            }

    </script>