@model List<SteerRent.Model.RoleModel>

<!--- START A008 - Roles -->
                        <div class="A008 st_view">
                            <div class="st_view_inner">
                            	<div class="tab_contant_inner">
                           			<div class="contain_row">
                                        <p class="error_msg_bg">&nbsp;</p>
                                        <p class="error_msg_sm">Please enter the Role Name.</p>
                                        <p class="error_msg_exist">The Role Name already exists. Please try a different value.</p>
                                        <p class="error_msg_spclchar">Special characters are not allowed.</p>
                                        <p class="error_msg_error">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                    </div>
                                    <form name="" method="post">
                                        <div id="roleSrchList">
                                         @Html.Partial("_RoleSearchResults",Model)                                
                                        </div>                                         
                                            <div class="contain_row">
                                            <h5 class="contain_title">Add New Role</h5>
                                            <div class="contain_sub_row">
                                            	<div class="contain_left_part">
                                                <p class="label_part">Role Name <span>*</span></p>
                                                    <div class="label_input_part">
                                                        <input name="txtRoleName" id="txtRoleName" type="text" placeholder="">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="contain_left_part">
                                                	
                                                    <div class="label_input_part">
                                                        
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>        
                                        </div>                                                                          
                                                     
                                        <div class="submit_part">
                                            <div class="contain_submit_row">
                                                <input type="button" id="btnSubmitA8" class="submit_btn" value="Submit" />
                                            </div>
                                        </div>
                                        	
                                    </form>
                                </div>
                            </div>    
                        </div>
<!-- END A008 -->

    <script lang="ja" type="text/javascript">

        // bind slider
        var slidetabs = $('#slidetabs').slidetabs({
            orientation: 'horizontal',
            autoHeight: true,
            touchSupport: true
        });

        $(document).ready(function () {
            $('#btnSubmitA8').click(function () {
                if ($('#txtRoleName').val() != '') {
                    RefreshGrid('Insert');
                }
                else {
                    $('.error_msg_bg').css("display", "block");
                    $('.error_msg_sm').css("display", "block");
                    slidetabs.setContentHeight();
                }
            });

            function RefreshGrid(status)
            {
                var href = '@Url.Action("RolesInsertUpdate")';
                $.ajax({
                    url: href,
                    data: { role: $('#txtRoleName').val(), action: status },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        if (data == 1)
                        { $('.error_msg_bg').css("display", "block"); $('.error_msg_exist').css("display", "block"); }
                        else {
                            $('#txtRoleName').val('');
                            $('.error_msg_bg').css("display", "none");
                            $('.error_msg_sm').css("display", "none");
                            $('.error_msg_spclchar').css("display", "none");
                            $('.error_msg_exist').css("display", "none");
                            $('.error_msg_error').css("display", "none");
                        }
                        slidetabs.setContentHeight();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('.error_msg_bg').css("display", "block");
                        $('.error_msg_error').css("display", "block");
                        slidetabs.setContentHeight();
                    }
                });
            }
        });
    </script>