@model List<SteerRent.Model.RoleModel>

<!--- START A008 - Roles -->
<div class="A008 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">

            <form name="" method="post">
                <div class="contain_row">
                    <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
                </div>
                <div class="contain_row">
                    <p class="error_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                    <p class="error_msg_sm">The Role Name already exists. Please try a different value.</p>
                    <p class="error_msg_sm">Numbers/Special characters are not allowed in Role Name.</p>
                    <p class="error_msg_sm">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
                </div>
                <div class="contain_row">
                    <!--<h5 class="contain_title">User Roles</h5>-->
                    <div class="contain_sub_row">
                        <p class="label_part"><b>User Roles</b></p>
                        <div class="label_textarea_part">
                            <table class="gridtable">
                                <tr>

                                    <th>Role Name
                                    </th>
                                    <th>Activate
                                    </th>
                                    <th>Created By / Created Date
                                    </th>
                                    <th>Delete
                                    </th>
                                </tr>
                                <tr>

                                    <td>Branch Manager
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                    <td>SteerRent / Date
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td>Counter Supervisor
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                    <td>SteerRent / Date
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td>Accountant
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                    <td>SteerRent / Date
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td>Application Administrator
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" checked disabled class="checkbox-mrg" />
                                    </td>
                                    <td>SteerRent / Date
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td>Custom Role 1
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                    </td>
                                    <td>Username / Date
                                    </td>
                                    <td>
                                        <button type="button" class="del_btn" value="delete">x</button>
                                    </td>
                                </tr>
                                <tr>

                                    <td>Custom Role 2
                                    </td>
                                    <td>
                                        <input name="chkActivate" type="checkbox" class="checkbox-mrg" />
                                    </td>
                                    <td>Username / Date
                                    </td>
                                    <td>
                                        <button type="button" class="del_btn" value="delete">x</button>
                                    </td>
                                </tr>
                            </table>

                            </br>
                            <h5 style="text-align: right">xx records found. xx - Active, xx - Inactive.</h5>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="contain_row">
                    <h5 class="contain_title">Add New Role</h5>
                    <div class="contain_sub_row">
                        <div class="contain_left_part">
                            <p class="label_part">Role Name <span>*</span></p>
                            <div class="label_input_part">
                                <input name="txtRoleName" type="text" placeholder="">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="contain_left_part">

                            <div class="label_input_part">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="submit_part">
                    <div class="contain_submit_row">
                        <button type="submit" class="submit_btn" value="Submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- END A008 -->

    <script lang="ja" type="text/javascript">

        // bind slider
        var slidetabs = $('#slidetabs').slidetabs({
            orientation: 'horizontal',
            autoHeight: true,
            touchSupport: true
        });

        $(document).ready(function () {

            $('[data-name="dvRoleDelete"]').click(function () {
                var id = this.id;
                id = id.replace('dvRoleDelete-', '');
                RefreshGrid('', id, 'Update', false,false);
            });

            $("input[name=chkRoleState]").change(function () {
                RefreshGrid('', this.id, 'Update', true, this.checked);
            });

            $('#btnSubmitA8').click(function () {
                if ($('#txtRoleName').val().toUpperCase() == 'ADMIN') {
                    $('.error_msg_exist').css("display", "block");
                    $('.error_msg_bg').css("display", "block");
                    $('.error_msg_spclchar').css("display", "none");
                    $('.error_msg_error').css("display", "none");
                    slidetabs.setContentHeight();
                    return false;
                }

                if ($('#txtRoleName').val() != '') {
                    RefreshGrid($('#txtRoleName').val(),'0','Insert',true,false);
                }
                else {
                    $('.error_msg_bg').css("display", "block");
                    $('.error_msg_sm').css("display", "block");
                    $('.error_msg_spclchar').css("display", "none");
                    $('.error_msg_exist').css("display", "none");
                    $('.error_msg_error').css("display", "none");
                }
                slidetabs.setContentHeight();
            });

            function RefreshGrid(name, id, status, state, isActivated)
            {
                var href = '@Url.Action("RolesInsertUpdate")';
                $.ajax({
                    url: href,
                    data: { role: name, id:id, action: status,isActive:state,isDelete:isActivated },
                    type: "POST",
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        if (data == 1)
                        { $('.error_msg_bg').css("display", "block"); $('.error_msg_exist').css("display", "block"); }
                        else {
                            $('#txtRoleName').val('');
                            $('.error_msg_bg').css("display", "none");
                            $('.error_msg_sm').css("display", "none");
                            $('.error_msg_spclchar').css("display", "none");
                            $('.error_msg_exist').css("display", "none");
                            $('.error_msg_error').css("display", "none");
                        }
                        if (isActivated == true) {
                            $('#dvRoleDelete-' + id).text('').removeClass("del_btn");
                        }
                        else {
                            $('#dvRoleDelete-' + id).text('X').addClass("del_btn");
                        }
                        $('#dvRoleDelete-' + id).attr('id', 'dvRoleDelete-' + id);
                        slidetabs.setContentHeight();
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        $('.error_msg_bg').css("display", "block");
                        $('.error_msg_error').css("display", "block");
                        slidetabs.setContentHeight();
                    }
                });
            }
        });

        $(function () {
            $(".alpha").attr("maxlength", 20)

            $(".alpha").bind("keypress", function (e) {
                var str = /[a-zA-Z ]/;
                return globalValidation(e, str);
            });
        });
    </script>