@model List<SteerRent.Model.UserModel>
<script src="~/Scripts/steerrent.js"></script>
<!--- START A010 - Users-->
<div class="A010 st_view">
    <div class="st_view_inner">
        <div class="tab_contant_inner">
            <div class="contain_row" id="UserSuccessMsg">
                <p class="success_msg_bg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Opeartion was successful</p>
            </div>
            <div class="contain_row ErrorMsgUser">
                <p class="error_msg_bg" id="UserFailMsg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Error(s)</p>
                <p class="error_msg_sm" id="UserNoAdminMsg">No Administrator assigned. Please assign an Administrator and click Submit.</p>
                <p class="error_msg_sm" id="UserAdminMsg">Administrator role can be assigned only to one employee.</p>
                <p class="error_msg_sm" id="UserNetworkMsg">Unable to process your request. Please try again. Contact your administrator if the issue persists.</p>
            </div>
            <form name="frmUser" id="frmUser" method="post">
                <div class="contain_row">
                    <!--<h5 class="contain_title">Application Users</h5>-->
                    <div class="contain_sub_row">
                        <p class="label_part"><b>Application Users</b></p>
                        <div class="label_textarea_part">
                            <div id="dvUserSearch">
                                @Html.Partial("_UsersSearchResults",Model)
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="submit_part">
                    <div class="contain_submit_row">
                        <input type="button" class="submit_btn" name="btnSubmitA10" id="btnSubmitA10" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END A010 -->