<div id="add-purchase-popup" class="add-timeline-popup zoom-anim-dialog mfp-hide">
               
    	    <h4 class="popup-title">Purchase Details</h4>
                    <p class="error_popup_bg">Please enter all required fields.</p>
                    <p class="error_popup_bg">Delivery Date cannot be less than Purchase Date.</p>
                    <p class="error_popup_bg">Error(s) while processing your request. Please try again. Contact your administrator if the issue persists.</p>
                                        <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="popup_contain_left_part">
                                                <p class="popup_label_part">Purchase Date <span></span></p>
                                                    <div class="popup_label_input_part">
                                                        <input type="text" class="popup_input date" id="datepicker" name="txtPurDate">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="popup_contain_left_part">
                                                	<p class="popup_label_part">Delivery Date <span></span></p>
                                                    <div class="popup_label_input_part">
                                                        <input type="text" class="popup_input date" id="datepicker" name="txtDelDate">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="popup_contain_left_part">
                                                <p class="popup_label_part">Supplier <span></span></p>
                                                    <div class="popup_label_combo_part">
                                                        <select name="ddlSupplier"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="popup_contain_left_part">
                                                	<p class="popup_label_part">Purchase Order <span></span></p>
                                                    <div class="popup_label_input_part">
                                                        <input type="text" name="txtPO">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="popup_contain_left_part">
                                                <p class="popup_label_part">Purchase Cost <span></span></p>
                                                    <div class="popup_label_input_part">
                                                        <input type="text"  name="txtPurCost">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="popup_contain_left_part">
                                                	<p class="popup_label_part">Trade License<span></span></p>
                                                    <div class="popup_label_combo_part">
                                                        <select name="ddlTradeLicense"><option></option></select>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                        <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="popup_contain_left_part">
                                                <p class="popup_label_part"><span></span></p>
                                                    <div class="popup_label_radio_part">
                                                        <label class="popup_label_radio"><input name="chkUnderBuyBack" type="checkbox" value="UnderBuyBack"> Under By Back</label> 
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="popup_contain_left_part">
                                                	<p class="popup_label_part"><span></span></p>
                                                    <div class="popup_label_input_part">
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>
                                            <div>&nbsp;</div>
                                            <div class="contain_sub_row">
                                            	<div class="popup_contain_left_part">
                                                <p class="popup_label_part">Documents<span></span></p>
                                                    <div class="popup_label_doc_part">
                                                        <table class="popup_doc_gridtable">
                                                            <tr>
                                                                <th width="10%">
                                                                    Sl.
                                                                </th>
                                                                <th>
                                                                    File Name
                                                                </th>
                                                                <th width="5%">
                                                                    
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td width="10%">
                                                                    1.
                                                                </td>
                                                                <td>
                                                                    File Name
                                                                </td>
                                                                <td width="5%">
                                                                    <button type="button" class="del_btn" value="del">x</button>
                                                                </td>
                                          
                                                            </tr>
                                                            <tr>
                                                                <td width="10%">
                                                                    2.
                                                                </td>
                                                                <td>
                                                                    File Name
                                                                </td>
                                                                <td width="5%">
                                                                    <button type="button" class="del_btn" value="del">x</button>
                                                                </td>
                                          
                                                            </tr>
                                                            <tr>
                                                                <td width="10%">
                                                                        &nbsp;
                                                                </td>
                                                                <td>
                                                                        &nbsp;
                                                                </td>
                                                                <td width="5%">
                                                                    <button type="file" class="add_btn" value="Add">+</button> 
                                                                </td>
                                          
                                                            </tr>
                                                                                                                 
                                                    </table>
                                                    </br>
                                                    </br>
                                                        
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="popup_contain_left_part">
                                                	<p class="popup_label_part"><span></span></p>
                                                    
                                                    <div class="clear"></div>
                                                </div>
                                            	<div class="clear"></div>                                                                                                
                                            </div>                                           
                                        <div>&nbsp;</div>                                   
                                            <div class="popup_submit_part">
                                                <div class="popup_contain_submit_row">
                                                    <table style="width:650px;">
                                                        <tr>
                                                        <td style="width:506px;"><button type="submit" class="popup_submit_btn" value="Save">Save</button></td>
                                                        </tr>
                                                    </table>
                                            </div>
                                            </div>
                                        <div>&nbsp;</div>
    </div>