@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="~/Content/CSS/default.css" />

        <link rel="stylesheet"  media="all" type="text/css" href="~/Content/CSS/slidetabs.css" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/CSS/jquery-ui-1.10.3.custom.css" />
    <link type="text/css" rel="stylesheet" media="all" href="~/Content/CSS/magnific-popup.css" />

    <title>Login</title>
</head>
<body>
    <div id="login_mn">
            <div id="login_main-cntr">
                <h1>Login to SteerRent</h1>
                <div class="lgn-innr">
                    <br />
                    <div class="error_message" style="display: none;">
                        <ul>
                            <br />
                            <li>Display error message here</li>
                        </ul>
                    </div>

                    <div class="lgn-frm">
                        <p>
                            <input placeholder="Username" id="txtUserName" type="text" runat="server" />    
                        </p>
                        <p>
                            <input id="txtPassword" placeholder="Password" name="password" runat="server" value="Password" type="password" /></p>

                        <div class="frgt">
                            <span class="left padd5">
                                <input  id="chkRememberMe" type="checkbox" value="checkbox" /><label>Remember me</label></span>
                            <a class="right padd10" href="Account/ForgotPassword.aspx" target="_parent">Forgot Password</a>
                           
                        </div>
                        <div class="clear"></div>
                        <p class="button">
                            <input class="btn_login" name="btnLogin" ID="btnLogin" type="submit" onclick='@Url.Action("Dashboard","Home")' value="Login" /></p>
                    </div>  
                </div>

            </div>

            <div class="copyright">&copy;&nbsp;2013&nbsp;SteerRent.&nbsp;All rights reserved.</div>
        </div>


    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="~/Scripts/script.js"></script>
<script type="text/javascript" lang="ja" src="~/Scripts/jquery.backstretch.min.js"></script>    
<script type="text/javascript" src="~/Scripts/slidetabs.mousewheel.easing.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.slidetabs.js"></script>
<script type="text/javascript" src="~/Scripts/slidetabs.touch.js"></script>     
<script type="text/javascript" src="~/Scripts/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.custom.js"></script>     

</body>
</html>
